@using Blazor_Backgammon.ViewModels
@using Blazor_Backgammon.DataModels

@page "/backgammon"
@inject BackgammonViewModel viewModel

<header></header>
<body>

    <h1 class="welcome">Welcome to Backgammon</h1>

    <div class="container-board">
    
        <div class="game-board-top">
            @for(int index = 0; index < viewModel.HalfFieldSpaces; index++)
            {
                @if(index % 2 == 0)
                {
                    <div class="darkgreen-top field">
                        @foreach(var playerChip in viewModel.GetPlayerChipsAtIndex(index))
                        {
                            <div @onclick="() => viewModel.ClickedChip(playerChip)" 
                                class="chip @("player" + playerChip.Player.ToString() + (playerChip.IsSelected? " isSelected" : ""))"></div>
                        }
                    </div>
                }
                else
                {
                    <div class="darkmaroon-top field">
                        @foreach(var playerChip in viewModel.GetPlayerChipsAtIndex(index))
                        {
                            <div @onclick="() => viewModel.ClickedChip(playerChip)"
                                class="chip @("player" + playerChip.Player.ToString() + (playerChip.IsSelected? " isSelected" : ""))"></div>
                        }
                    </div>
                }
                @if(index == 5)
                {
                    <div class="field middle"></div>
                }
            }
        </div>

    </div>
    <div class="container-board">
    
        <div class="game-board-bottom">
            @for(int index = viewModel.HalfFieldSpaces; index < viewModel.TotalFieldSpaces; index++)
            {
                @if(index % 2 == 0)
                {
                    <div class="darkgreen-bottom field">
                        @foreach(var playerChip in viewModel.GetPlayerChipsAtIndex(index))
                        {
                            <div @onclick="() => viewModel.ClickedChip(playerChip)"
                                class="chip @("player" + playerChip.Player.ToString() + (playerChip.IsSelected? " isSelected" : ""))"></div>
                        }
                    </div>
                }
                else
                {
                    <div class="darkmaroon-bottom field">
                        @foreach(var playerChip in viewModel.GetPlayerChipsAtIndex(index))
                        {
                            <div @onclick="() => viewModel.ClickedChip(playerChip)"
                                class="chip @("player" + playerChip.Player.ToString() + (playerChip.IsSelected? " isSelected" : ""))"></div>
                        }
                    </div>
                }
                @if(index == 17)
                {
                    <div class="field middle"></div>
                }
            }
        </div>

    </div>

    <button class="test" @onclick="() => viewModel.StartGame()">Start Game</button>
    <button class="test" @onclick="() => viewModel.RollDice()">@(viewModel.ActivePlayer == Player.One? "Player 1" : "Player 2") Roll Dice</button>
    <div>
        <div class="dice">@(viewModel.Dice[0].Number)</div>
        <div class="dice">@(viewModel.Dice[1].Number)</div>
    </div>
</body>



@code {

}
